# ==========================================
# Base de Datos (PostgreSQL / Neon)
# ==========================================
# Reemplazar con la URL de conexión a tu propia base de datos
DATABASE_URL="postgresql://USUARIO:PASSWORD@HOST:PUERTO/BASEDEDATOS?sslmode=require"

# ==========================================
# Autenticación (Clerk)
# ==========================================
# Claves de la API de Clerk (Obtenidas desde el Dashboard de Clerk -> API Keys)
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY="pk_test_tu_clave_publica_aqui"
CLERK_SECRET_KEY="sk_test_tu_clave_secreta_aqui"

# ==========================================
# APIs de los microservicios
# ==========================================
# URLs de los microservicios
SELLER_API_URL=https://proyecto-seller-app.vercel.app/api
SHIPPING_API_URL=https://proyecto-shipping-app.vercel.app/api
PAYMENTS_API_URL=https://proyecto-payments-app.vercel.app/api

SELLER_API_KEY="key"
SHIPPING_API_KEY="key"
FEEDBACK_API_KEY="key"
BUYER_API_KEY="key"